body {
  background-color: #ffc93c;
}

.header {
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.header > h3 {
  color: #9d0191;
}

.header > p {
  font-size: medium;
}

.header > h2 {
  color: #ec0101;
}

.home__card {
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  text-align: center;
}

hr.line {
  border-top: 3px dotted black;
  width: 5%;
  margin-left: 48%;
  margin-top: 5px;
  margin-bottom: 5px;
}

hr.footer__line {
  border-top: 5px dotted black;
  width: 5%;
  margin-left: 48%;
  margin-top: 5px;
  margin-bottom: 5px;
}
